:root {
    --mdc-theme-primary: #006a48;
    --mdc-theme-secondary: #51cba2;
    --mdc-theme-background: #fff;
}


.mainCardAttr{
    width:80%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #e6e6e6;
    padding: 3%;
}

.background_card{
    background: #ffffff;
    height: auto;
    width: 100%;
    margin-bottom: 2%;
}

.logcard-title-and-subtitle{

    display: inline-block;
    width: 80%;
}
.logcard-actions{
    display: inline-block;
    float: right;
    padding: 0;
}

.logcard-actionBTNS-constrains{
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}
.mdc-checkbox{
    height: 40px;
    width: 40px;
}

.mdc-form-field{
    height: 50%;
    width: 50%;
}

.mdc-checkbox__background{
    left: 16px;
    right: 0;
    top: 16px;
    height: 30px;
    width: 30px;
}

.mdc-fab{
    position: fixed;
    bottom: 3rem;
    right: 3.5rem;
    z-index: 1;
}

#drawer-items>a{
    font-size: 19px;
}

#drawer-items>a>i{
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}