<div style="height: 100%; width: 100%;" id="aboutPage" xmlns:th="http://www.w3.org/1999/xhtml">
    <h1 class="mdc-typography--display2 mdc-typography--adjust-margin">Ducky-Debug</h1>
    <p class="mdc-typography--body1">
        <img th:src="@{/img/ducky-logo.png}" height="450dp" width="450dp" align="left"/>
        <span class="mdc-typography--title mdc-typography--adjust-margin">What is rubber duck debugging?</span><br/>
        In software engineering, rubber duck debugging or rubber ducking is a method of debugging code.
        The name is a reference to a story in the book The Pragmatic Programmer in which a programmer
        would carry around a rubber duck and debug their code by forcing themselves to explain it,
        line-by-line, to the duck. Many other terms exist for this technique, often involving
        different inanimate objects.<span><a href="https://en.wikipedia.org/wiki/Rubber_duck_debugging">Wikipedia</a></span><br/>

        <span style="margin-top: 10px" class="mdc-typography--title mdc-typography--adjust-margin">What is this app/website for?</span><br/>
        Since talking to a rubber duck seems a bit odd for most people, but writing is not. A better approach for debugging
        code would be being able to write about our observations somewhere thus helping ourselves not only getting to the root
        of the issue but store it for another time when we will need to see how we solved the problem or further analyse it.<br/>

        <span style="margin-top: 10px" class="mdc-typography--title mdc-typography--adjust-margin">Why is it important?</span><br/>
        Since programming is getting more and more popular, more people are getting interested in programming. There is one
        problem though at the beginning programming is easy but when you go further you start getting frustrated with the
        difficulties your code offers and sometimes debugging is hard mostly because we cannot point where the flaws in our logic
        are. The prefect way to tackle such issues is by being able to discuss them with someone/something. That way we are able
        to discover the problem ourselves because what we're doing while discussing is analyzing.<br/>

        <span style="margin-top: 10px" class="mdc-typography--title mdc-typography--adjust-margin">What are the used resources
        for this website?</span><br/>
    </p>
    <p class="mdc-typography--body1">For the website I used the following:</p>
    <ul>
        <li>IDE: IntelliJ IDEA 2017.2.6</li>
        <li>Backend language: Java 8</li>
        <li>Backend framework: Spring Boot v1.5.8.RELEASE</li>
        <li>Backend server: MySQL</li>
        <li>ORM Framework: Hibernate</li>
        <li>Frontend framework: Thymeleaf</li>
        <li>Frontend design: Material design <a href="http://material.io">material.io</a></li>
    </ul>
    <p class="mdc-typography--body1">
        <span class="mdc-typography--title mdc-typography--adjust-margin">What about the developer of this website?</span><br/>
        My name is Valentin and I code for nearly two years through which I've learned a lot and keep learning more very day. The idea for
        making this project came out of a sudden. It was firstly meant for a mobile application (which still is under development)
        the idea of which was to have something where you can write about your bugs and how you solved them.<br/>
    </p>
    <p class="mdc-typography--title mdc-typography--adjust-margin">How do I contact the developer?</p>
    <ul>
        <li>Email: <a href="mailto:valentin.v1997@gmail.com">valentin.v1997@gmail.com</a></li>
        <li>GitHub: <a href="http://github.com/vv-b-s">vv-b-s</a></li>
        <li>LinkedIn: <a href="https://www.linkedin.com/in/valentin-vasilev-25367211b/">click</a></li>
    </ul>
</div>