<!--This is where all the logs are. They can be marked as completed, deleted or viewed -->
<th:block th:each="log :${logs}">
    <div>
        <!-- Each log is wrapped in Material design card and has three buttons: 'mark as done',
        'delete' and 'view'-->
        <div class="mdc-card background_card" style="display: inline-block">
            <section class="mdc-card__primary logcard-title-and-subtitle">
                <h1 th:text="${log.title}" style="word-wrap: break-word;" class="mdc-card__title mdc-card__title--large"></h1>
                <h2 th:text="${log.dateCreated}" class="mdc-card__subtitle"></h2>
            </section>
            <section class="mdc-card__actions--vertical logcard-actions">
                <form  method="get" th:action="@{/log/{id}/ch-marked(id = ${log.id})}">
                <!--This section has a condition to run. If the log is completed, the checkbox will have 'checked' attribute
                if not, there will be no 'checked' attribute-->
                <div th:if="${log.isCompleted}">
                    <div class="mdc-checkbox">
                        <input type="checkbox" checked="checked" id="basic-checkbox" class="mdc-checkbox__native-control" onchange="this.form.submit()"/>
                        <div class="mdc-checkbox__background">
                            <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                                <path class="mdc-checkbox__checkmark__path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59"></path>
                            </svg>
                            <div class="mdc-checkbox__mixedmark"></div>
                        </div>
                    </div>
                </div>
                <div th:unless="${log.isCompleted}" >
                    <div class="mdc-checkbox">
                        <input type="checkbox" id="basic-checkbox" class="mdc-checkbox__native-control" onchange="this.form.submit()"/>
                        <div class="mdc-checkbox__background">
                            <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                                <path class="mdc-checkbox__checkmark__path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59"></path>
                            </svg>
                            <div class="mdc-checkbox__mixedmark"></div>
                        </div>
                    </div>
                </div>
                </form>
                <button id="logDeleteButton" th:onclick="|onLogDeleteBtnClick('${log.id}')|" class="mdc-button mdc-button--compact mdc-card__action logcard-actionBTNS-constrains"><i class="material-icons md-36" style="font-size: 30px; background-color: #ffcccc; padding: 0.9px; position: absolute; top: 0; left: 15px;">delete</i></button>
            </section>
            <section id="logDescriptionTextView" th:text="${log.description}" class="mdc-card__supporting-text">
            </section>
            <section class="mdc-card__actions">
                <a th:href="@{/log/{id}(id = ${log.id})}"><button class="mdc-button mdc-button--compact mdc-card__action">View</button></a>
            </section>
        </div>
    </div>
</th:block>
<a th:href="@{/create}">
    <!--Floating Action Button (FAB) - one of the main Material components which makes this design sleek-->
    <button class="mdc-fab mdc-ripple-upgraded mdc-ripple-upgraded--background-active-fill mdc-ripple-upgraded--foreground-activation" style="--mdc-ripple-fg-size:33.6px; --mdc-ripple-fg-scale:2.65464; --mdc-ripple-fg-translate-start:16.2px, 24.2px; --mdc-ripple-fg-translate-end:11.2px, 11.2px;" type="submit">
   <span class="mdc-fab__icon">
      <img th:src="@{/icons/ic_note_add_white_24dp_1x.png}"/>
    </span>
    </button>
</a>

<script>
    function onLogDeleteBtnClick(logID) {
        let confirmation = confirm("Do you really want to delete this log?\nPlease keep in mind that this is irreversible action!");
        switch (confirmation){
            case true:
                window.location.replace(`/log/${logID}/delete`);
                break;
            case false: break;
        }
    }
</script>