<div class="mdc-card demo-card" id="logViewCard">
    <section class="mdc-card__primary">
        <h1 class="mdc-card__title mdc-typography--display2" th:text="${logTitle}"></h1>
        <h2 class="mdc-card__subtitle" th:text="${logDescription}" style="word-wrap: break-word; width: 85%;"></h2>
    </section>
    <div  th:each="question : ${questions}" class="mdc-elevation--z1 answer-card">
        <section class="mdc-card__supporting-text">
            <h2 class="mdc-typography--headline" th:text="${question.text}"></h2>
            <!--using data-th-utext will allow line breaking in thymeleaf https://stackoverflow.com/questions/30394419/thymeleaf-spring-how-to-keep-line-break -->
            <p data-th-utext="${#strings.replace(#strings.escapeXml(question.answer),'&#10;','&lt;br&gt;')}" class="mdc-typography--body1" style="word-wrap: break-word"></p>
        </section>
    </div>
</div>
<a th:href="@{/log/{id}/edit(id = ${logId})}"><button class="mdc-fab mdc-ripple-upgraded mdc-ripple-upgraded--background-active-fill mdc-ripple-upgraded--foreground-activation" style="--mdc-ripple-fg-size:33.6px; --mdc-ripple-fg-scale:2.65464; --mdc-ripple-fg-translate-start:16.2px, 24.2px; --mdc-ripple-fg-translate-end:11.2px, 11.2px;" onclick="showSnackbar()">
       <span class="mdc-fab__icon">
          <svg width="24" height="24" viewBox="0 0 24 24">
            <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"></path>
          </svg>
        </span>
</button></a>