<!--For the material.io layouts-->
<script th:src="@{/node_modules/material-components-web/dist/material-components-web.js}"
        xmlns:th="http://www.w3.org/1999/xhtml"></script>
<script>mdc.autoInit()</script>

<!--For the drawer-->
<script>
    document.getElementById("drawer-1-button").addEventListener('click',function() {
        let drawer = document.getElementById("drawer-1");
        mdc.drawer.MDCTemporaryDrawer.attachTo(drawer).open = true;
    });
</script>

<!--Show snackbar when needed-->
<script>
    //
    function showSnackbar() {
        const snackbar = new mdc.snackbar.MDCSnackbar(document.querySelector('.mdc-snackbar'));
        const dataObj = {
            message: 'Loading...'

        };
        snackbar.show(dataObj);
    }
</script>